USE [orail25]
GO
/****** Object:  StoredProcedure [dbo].[RawMaterialHistory_Maintenance]    Script Date: 3/9/2026 12:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



		
-- =============================================
-- Author     :<Author Name :: generated By System>
-- Create date:<Create Date :: Nov 30 2011  3:34PM>
-- Description:<Description :: >

-- [RawMaterialHistory_Maintenance] '15'
-- =============================================		
ALTER PROCEDURE [dbo].[RawMaterialHistory_Maintenance]
	 @FArr as NVARCHAR(MAX)=''
	,@OrderBy nvarchar(max)=''
	,@PageSize int=0
	,@CurrentPage int=0
	,@appuserid as nvarchar(max)='poweruser'
	,@IPAddress as nvarchar(max)='0.0.0.0'
	,@FormName as nvarchar(max)='From Sql'
AS
BEGIN
	SET NOCOUNT ON;
	-- dbo.getparam 'RawMaterialHistory_Maintenance'
	DECLARE @FromDate AS DATETIME=isnull([dbo].[UTC_CSERVERLOCAL](getdate()),getdate())
	DECLARE @ProcedureName nvarchar(max)=OBJECT_NAME(@@PROCID)
	DECLARE @spname AS NVARCHAR(MAX)
	SELECT 
		@spname = COALESCE(@spname +char(13)+'	, ', '') + concat(A.name,' = ''', A.value ,'''')
	FROM (		
		SELECT name, value
		FROM (values 
			(1, '@FArr', replace(cast(@FArr as NVARCHAR(MAX)),'''','''''')),
			(2, '@OrderBy', replace(cast(@OrderBy as NVARCHAR(MAX)),'''','''''')),
			(3, '@PageSize', replace(cast(@PageSize as NVARCHAR(MAX)),'''','''''')),
			(4, '@CurrentPage', replace(cast(@CurrentPage as NVARCHAR(MAX)),'''','''''')),
			(5, '@appuserid', replace(cast(@appuserid as NVARCHAR(MAX)),'''','''''')),
			(6, '@IPAddress', replace(cast(@IPAddress as NVARCHAR(MAX)),'''','''''')),
			(7, '@FormName', replace(cast(@FormName as NVARCHAR(MAX)),'''',''''''))
			) p(num, name, value)
	) AS A(name, value)		
	SET @spname=concat('exec [',DB_NAME(),'].[dbo].',@ProcedureName,' ',@spname)

BEGIN TRY
----------------------------------------------------------------------
DECLARE 
     @id NVARCHAR(50) = ''
    ,@indate NVARCHAR(50) = ''
	,@fdate NVARCHAR(50) = ''
	,@tdate NVARCHAR(50) = ''
    ,@entrydate NVARCHAR(50) = ''
    ,@closing DECIMAL(18,3) = 0
    ,@event NVARCHAR(200) = ''
    ,@torfbag NVARCHAR(50) = ''
    ,@invoice NVARCHAR(50) = ''
    ,@code NVARCHAR(50) = ''
    ,@inward DECIMAL(18,3) = 0
    ,@outward DECIMAL(18,3) = 0
    ,@FArrmode NVARCHAR(50) = ''
	,@RFBag nvarchar(50) = ''
	,@WhereClause nvarchar(MAX) = 'WHERE 1=1 '

IF(ISNULL(@FArr,'') <> '')
BEGIN
    SELECT TOP 1
         @FArrmode = LTRIM(RTRIM(FArrmode))
        ,@id = ISNULL(id,'')
        ,@indate = indate
		,@fdate = fdate
		,@tdate = tdate
        ,@entrydate = entrydate
        ,@closing = TRY_PARSE(LTRIM(rtrim(ISNULL(closing,0))) as decimal(18,3))
        ,@event = event
        ,@torfbag = torfbag
        ,@invoice = invoice
        ,@code = code
        ,@inward = TRY_PARSE(LTRIM(rtrim(inward)) as decimal(18,3))
        ,@outward = TRY_PARSE(LTRIM(rtrim(outward)) as decimal(18,3))
		,@RFBag = RFBag
    FROM OPENJSON(@FArr)
    WITH
    (
        FArrmode NVARCHAR(50) '$.FArrmode',
        id NVARCHAR(50) '$.id',
        indate NVARCHAR(50) '$.indate',
		fdate NVARCHAR(50) '$.fdate',
		tdate NVARCHAR(50) '$.tdate',
        entrydate NVARCHAR(50) '$.entrydate',
        closing NVARCHAR(50) '$.closing',
        event NVARCHAR(200) '$.event',
        torfbag NVARCHAR(50) '$.torfbag',
        invoice NVARCHAR(50) '$.invoice',
        code NVARCHAR(50) '$.code',
        inward NVARCHAR(50) '$.inward',
        outward NVARCHAR(50) '$.outward',
		RFBag NVARCHAR(50) '$.RFBag'
    )
END


IF(@RFBag <> '')
BEGIN
	SET @WhereClause += ' and isnull(rfbagno,'''')='''+@RFBag+''' ';
END
IF(ISNULL(@fdate,'') <> '' AND ISNULL(@tdate,'') <> '')
BEGIN
	SET @WhereClause += ' and EntryDate between '''+@fdate+''' and  '''+@tdate+''' ';
END

PRINT('step 1')

IF(@FArrmode = 'edit')
BEGIN

	
	IF EXISTS (SELECT 1 FROM raw_material_history WHERE id = @id)
    BEGIN

        UPDATE a
        SET 
            EntryDate = TRY_CONVERT(DATETIME,@entrydate),
            InvoiceDate = TRY_CONVERT(DATETIME,@indate),
            Eventname = @event,
            Invoice = @invoice,
            --opening = @closing,
            Inward = @inward,
            Outward = @outward,
			
            --torfbag = @torfbag,
            customercode = @code,
			torfbag = CASE 
                WHEN eventname IN (
                    'New Bag Generate', 'Current Bag Cut-Off',
                    'Grading Entry From', 'Grading Entry To',
                    'Employee Issue', 'Employee Receive',
                    'Conversion From', 'Conversion To',
                    'Finding Conversion To', 'Finding Conversion From',
                    'Creation To', 'Creation From(ExtraRemainWeight)',
                    'Return From Employee-Receive', 'splity transfer from',
                    'Accepted Stock', 'Stock Transfer To',
                    'splity transfer to', 'Stock transfer from',
                    'Return From Employee'
                )
                OR eventname LIKE 'Lost To%'
                OR eventname LIKE 'Broken To%'
                    THEN @torfbag
                ELSE torfbag               -- keep existing
              END,

			rfbagno = CASE 
                WHEN eventname IN (
                    'New Bag Generate', 'Current Bag Cut-Off',
                    'Grading Entry From', 'Grading Entry To',
                    'Employee Issue', 'Employee Receive',
                    'Conversion From', 'Conversion To',
                    'Finding Conversion To', 'Finding Conversion From',
                    'Creation To', 'Creation From(ExtraRemainWeight)',
                    'Return From Employee-Receive', 'splity transfer from',
                    'Accepted Stock', 'Stock Transfer To',
                    'splity transfer to', 'Stock transfer from',
                    'Return From Employee'
                )
                OR eventname LIKE 'Lost To%'
                OR eventname LIKE 'Broken To%'
                    THEN rfbagno           -- keep existing
                ELSE @torfbag
              END,
            loginuserid = @appuserid
		FROM raw_material_history as a WITH(NOLOCK)
        WHERE id = @id
		select 'success' as msg

    END
    ELSE
    BEGIN
        SELECT 'Record does not exist.' as msg
    END


    DECLARE @LogHistory AS NVARCHAR(MAX) =
        CONCAT(
            'Raw Material History Maintenance | ID: ', @id,
            ' | InvoiceDate: ', CONVERT(NVARCHAR, TRY_CONVERT(DATETIME, @indate), 106),
            ' | EntryDate: ', CONVERT(NVARCHAR, TRY_CONVERT(DATETIME, @entrydate), 106),
            ' | Event: ', @event,
            ' | Invoice: ', @invoice,
            ' | Inward: ', @inward,
            ' | Outward: ', @outward,
            ' | Tor/Bag: ', @torfbag,
            ' | Code: ', @code
        );

    EXEC LogManagement_LogHistory_Save 
          'MFG'
        , 'Raw Material History Maintenance'
        , 'Raw Material History Maintenance'
        , @LogHistory
        , 0
        , ''
        , @appuserid
        , @IPAddress
        , @FormName
END
ELSE IF(@FArrmode = 'clone')
BEGIN
	INSERT INTO [dbo].[raw_material_history]
           ([EntryDate]
           ,[InvoiceDate]
           ,[Eventname]
           ,[Invoice]
           --,[opening]
           ,[Inward]
           ,[Outward]
           ,[rfbagno]
           ,[loginuserid]
           ,[customercode]
           ,[torfbag])
     VALUES
           (TRY_CONVERT(DATETIME,@entrydate)
           ,TRY_CONVERT(DATETIME,@indate)
           ,@event
           ,@invoice
           --,<opening, decimal(18,3),>
           ,@inward
           ,@outward
           ,@torfbag
           ,@appuserid
           ,@code
           ,@torfbag)	

	select 'success' as msg
END
ELSE IF(@FArrmode = 'getgrid')
BEGIN
PRINT CONCAT('--@RFBag : ',@RFBag)
	IF(ISNULL(@RFBag,'') <> '')
	BEGIN
		declare @SQL_RFBAG as nvarchar(max)='
			declare @Material as nvarchar(max)=isnull((
					select top(1)
						case 
							when isnull(master_item_id,0) in (1,6) then	concat(itemname,''# '',metaltypename,'' '',metalpurity,'' '',metalcolorname,'' '',lockername)
							when isnull(master_item_id,0) in (2)   then	concat(itemname,''# '',metaltypename,'' '',mountmetalpurity,'' '',mountmetalcolorname,'' '',lockername)
							when isnull(master_item_id,0) in (3)   then	concat(itemname,''# '',materialtypename,'' '',diamondshapename,'' '',diamondclarityname,'' '',diamondcolorname,'' '',diamondsize,'' '',lockername)
							when isnull(master_item_id,0) in (4,7) then	concat(itemname,''# '',materialtypename,'' '',fancystoneshapename,'' '',fancystonequalityname,'' '',fancystonecolorname,'' '',fancystonesize,'' '',lockername)
							when isnull(master_item_id,0) in (5)   then	concat(itemname,''# '',findingtypename,'' '',findingAccessories,'' '',metaltypename,'' '',findingpurity,'' '',findingcolorname,'' '',lockername)
							else ''''
						end
					from [dbo].InventoryManagement_invoice with (nolock)
					where rfbag='''+@RFBAG+'''
				),'''')

			if(@Material='''')
			begin
				set @Material=isnull((
					select top(1)
						concat(materialtypename,'' '',shape,'' '',quality,'' '',color)
					from [dbo].LogManagement_Material_LogHistory with (nolock)
					where rfbagno='''+@RFBAG+'''
				),'''')
			end
	'

		declare @SQL1_TempTable as nvarchar(max)='
				declare @IsActualWeight as int=isnull((select isnull([value],0) from [dbo].[webconfig] where [key]=''IsActualWeight''),0)
				declare  @OP1_Transaction_materialpurchase as decimal(38,3)=0
					

				declare @tbl table
				(   
					id int
					,InvoiceDate datetime
					,EntryDate datetime
					,Event nvarchar(max)	
					,Invoice nvarchar(max)	
					,opening decimal(38,3)	
					,Inward decimal(38,3)	
					,Outward decimal(38,3)			
					,loginuserid nvarchar(max)	
					,torfbag nvarchar(max)
					,customercode nvarchar(100)							
				)
		'



		declare @SQL2_Transaction_materialpurchase nvarchar(MAX)='
				insert into @tbl(id,InvoiceDate,EntryDate,Event,Invoice,Inward,Outward,torfbag,loginuserid,customercode)
				select
					id
					,InvoiceDate
					,EntryDate
					,Eventname
					,Invoice
					,Inward as inward
					,Outward as outward
					,case when eventname in (''New Bag Generate'',''Current Bag Cut-Off'',''Grading Entry From'',''Grading Entry To'',''Employee Issue'',''Employee Receive'',''Conversion From'',''Conversion To'',''Finding Conversion To'',''Finding Conversion From'',''Creation To'',''Creation From(ExtraRemainWeight)'',''Return From Employee-Receive'',''splity transfer from'',''Accepted Stock'',''Stock Transfer To'',''splity transfer to'',''Stock transfer from'',''Return From Employee'') then torfbag
						when eventname like ''Lost To%'' or eventname like ''Broken To%'' then torfbag
						else rfbagno end AS rfbagno
					,loginuserid as loginuserid
					,customercode as supplier_Customercode
				from [dbo].raw_material_history as L with (nolock)		
				'+@WhereClause+' 

				set @OP1_Transaction_materialpurchase=isnull((
						select 
							sum(isnull(Inward,0)-isnull(Outward,0))
						from [dbo].raw_material_history with (nolock)
						where EntryDate < '''+@fdate+'''
						and rfbagno='''+@RFBAG+'''
				),0)
			'


		DECLARE @SQL_main as nvarchar(max)='
			declare @TotalOp as decimal(38,3)=0

			print @OP1_Transaction_materialpurchase


			set @TotalOp=isnull(@OP1_Transaction_materialpurchase,0)
					
		
			insert into @tbl(opening,Event)
			values(@TotalOp,concat(''Total Opening - '',@TotalOp))
		
		
			;WITH dvtbl AS (
					select 
						 row_number() over (order by EntryDate) as _id
						,id as id
						,InvoiceDate as InvoiceDate			
						,EntryDate as EntryDate
						,Event
						,Invoice
						,(isnull(opening,0)) as opening
						,(isnull(Inward,0)) as Inward
						,(isnull(Outward,0)) as Outward
						,@Material as Material
						,isnull(loginuserid,'''') as loginuserid
						,isnull(torfbag,'''') as torfbag
						,isnull(opening,0)+(isnull(Inward,0)-isnull(Outward,0)) as total
						--,isnull(opening,0)+iif(isnull(Inward,0)>0,isnull(Inward,0),-isnull(Outward,0)) as total
						,isnull(customercode,'''') as customercode
					from @tbl	
					where  isnull(opening,0)<>0
						or isnull(Inward,0)<>0
						or isnull(Outward,0)<>0	
						or Event like ''Total Opening%''
						or Event like ''Merge To%''
						or Event like ''%Weight Deleted From MergedBag%''							 			
				)
		'

		DECLARE @SQL as nvarchar(max) = '
				---------------------
				SELECT 
					total.*		
					,''1'' as SrNo
					,dvtbl.*
					,SUM(total) OVER (ORDER BY id) AS Runningsummary
					,''edit'' as Edit
					,''clone'' as Clone
				FROM dvtbl 
					CROSS JOIN (
						SELECT Count(_id) AS icount 
									,sum(isnull(opening,0)) as totalOpening
									,sum(isnull(Inward,0)) as totalInward
									,sum(isnull(Outward,0)) as totalOutward
									,(	sum(isnull(opening,0))
										+sum(isnull(Inward,0))
										-sum(isnull(Outward,0))) as totalClosing												
						FROM dvtbl					
					) AS total 
				ORDER BY Entrydate Desc
				OFFSET (('+LTrim(RTrim(Str(@CurrentPage)))+' - 1) * '+LTrim(RTrim(Str(@PageSize)))+') ROWS
				FETCH NEXT '+LTrim(RTrim(Str(@PageSize)))+' ROWS ONLY;


		'
		
		
		PRINT(@SQL_RFBAG)
		PRINT(@SQL1_TempTable)
		PRINT(@SQL2_Transaction_materialpurchase)
		PRINT(@SQL_main)
		PRINT(@SQL)

	
		EXEC(@SQL_RFBAG + @SQL1_TempTable + @SQL2_Transaction_materialpurchase + @SQL_main + @SQL)
	END
	

END

ELSE IF(@FArrmode = 'del')
BEGIN
	PRINT CONCAT('-----@ids : ',@id);
	SET @SQL = '
		IF EXISTS(SELECT TOP 1 1 from [dbo].raw_material_history WITH (NOLOCK) WHERE id = '''+ISNULL(@id,0)+''')
		BEGIN
			DELETE FROM [dbo].raw_material_history 
			WHERE id = '''+ISNULL(@id,0)+'''
		END
	'
	PRINT(@SQL);
	EXEC(@SQL);
END
-------------------------------------------------------------------

Execute [ErrorTracking_GetTransactionLog] @spname,@FromDate,@appuserid,@IPAddress,@FormName
END TRY
BEGIN CATCH			
	
	EXECUTE ErrorTracking_GetErrorInformation @appuserid,@FromDate,@spname,@IPAddress,@FormName;
END CATCH;
END				
		























